<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      text="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container_box">
      <div class="container">
        <h1>Список заданий</h1>
        <form class="form" action="/add" method="POST">
          <div class="form_box">
            <input
              class="task_input"
              type="text"
              name="message"
              value=""
              required
            /><button class="add_btn" type="submit">+</button>
          </div>
        </form>

        <ul class="unfinished_tasks">
          {% for item in unfinished %}
          <li>
            <div class="unfinished_task">
              <div class="checkmark_container">
                <svg
                  class="checkmark"
                  viewbox="0 0 48 48"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M 18 32.34 l -8.34 -8.34 -2.83 2.83 11.17 11.17 24 -24 -2.83 -2.83 z"
                    stroke="#3da35a"
                    fill="transparent"
                  />
                </svg>
              </div>
              <span class="checkbox"></span>
              <a class="unfinished_task_link" href="/complete/{{item._id}}"
                >{{item.message}}</a
              >
            </div>
          </li>
          {% endfor %}
        </ul>

        <ul class="finished_tasks">
          {% for item in finished %}
          <li>
            <span class="finished_task">{{item.message}}</span>
          </li>
          {% endfor %}
        </ul>

        <div class="delete_btn__box">
          <a href="/delete" class="delete_btn">Очистить список</a>
        </div>
      </div>
      <footer></footer>
      <script
        src="{{url_for('static', filename='js/index.js')}}"
        defer
      ></script>
    </div>
  </body>
</html>
